body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

#nav {
  font-size: 1.5em
}

h1 {
  text-align: center;
  color: rgba(0, 128, 0, 0.776)
}

table {
  margin: 0 auto;
}

th {
  color: rgba(255, 0, 0, 0.694)
}

span {
  font-size: 1.2em;
  color: rgba(0, 0, 255, 0.612)
}